@model ResultModel
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#result-table').DataTable({
                paging: false,
                searching: false
            });
        });
    </script>
}
<h3>KeyValueTypesComprasion</h3>
<p>

    <!-- Dictionary, Hashtable, Hashset, List, ConcurrentDictionary, SortedDictionary comprasion. -->
    @(string.Join(", ", Model.ResultItemList.Select(s=>s.TypeName))) comprasion in @(Model.RequestCount.ToString("N0")) records. <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="For more, use the 'size' parameter. (?size=1000)"></i>
</p>

  <div class="table-responsive">
    <table id="result-table" class="table table-striped">
      <thead>
        <tr>
          <th class="align-top" scope="col">Type</th>
          <th class="text-center" scope="col">Add</th>
          <th class="text-center" scope="col">Contains</th>
          <th class="text-center" scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        @for (int i = 0; i < Model.ResultItemList.Count; i++)
        {
          var resultItem = Model.ResultItemList[i];
          <tr>
            <th scope="row">@(resultItem.TypeName)</th>
            <td class="text-center">
              <p>@(resultItem.AddTime) ms</p>
            </td>
            <td class="text-center">
              <p>@(resultItem.ContainsTime) ms</p>
            </td>
            <td class="text-center">
              <p>@(resultItem.RemoveTime) ms</p>
            </td>
          </tr>
        }
      </tbody>
    </table>
</div>
<p>Page Load: @(Model.ResponseTime) ms</p>